body {
    overflow-y: hidden;
    background-color: #F1F1F1;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #466afc;
    opacity: 0.5;
    border-radius: 8px;
}

