.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    background-color: #F4F7F8;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.message-user-avatar {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.message {
    width: max-content;
    border: none;
}

.message-metadata {
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.message-text {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.message-user-name {
    font-size: 16px;
    margin-bottom: 0;
}

.message-header:last-child {
    justify-content: flex-end;
}

.message-like {
    font-size: 12px;
    background-color: #fff;
    border: none;
    color: #262626;
}

.message-like:hover {
    color: #d72a2a;
}

.message-time {
    position: absolute;
    right: 1.5rem;
    font-size: 12px;

}

.message-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.message-input-button {
    width: 8rem;
    background-color: #466afc;
}

.message-input-button:hover {
    background-color: #2750ff;
}

.own-message {
    position: relative;
    width: max-content;
    border: none;
    right: -49.7%;
    background-color: #e6ebfd;

}

.message-edit {
    font-size: 12px;
    background-color: #e6ebfd;
    border: none;
    color: #262626;
}

.message-delete {
    font-size: 12px;
    background-color: #e6ebfd;
    border: none;
    color: #262626;
}

.message-edit:hover {
    color: #635b5b;
}

.message-delete:hover {
    color: #6c1515;
}
