.message-list {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    background-color: #F4F7F8;
}

.message-user-avatar {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.message {
    width: max-content;
    border: none;
}

.message-metadata {
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.message-text {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.message-user-name {
    font-size: 16px;
    margin-bottom: 0;
}

.message-header:last-child {
    justify-content: flex-end;
}

.message-like {
    font-size: 12px;
    background-color: #fff;
    border: none;
    color: #262626;
}

.message-like:hover {
    color: #d72a2a;
}

.message-time {
    position: absolute;
    right: 1.5rem;
    font-size: 12px;

}
